:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Inter", sans-serif;
  --button-color: #28a745;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  width: auto;
  height: auto;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  width: auto;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
  width: auto;
  display: block;
  box-sizing: border-box;
  overflow: visible;
}
button {
  cursor: pointer;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  background: #070707;
  color: #fff;
  width: auto;
}
html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  width: 100%;
}

.betchagame-auth__buttons {
  display: flex;
  gap: 8px;
}

.betchagame-auth__buttons .betchagame-default__button:not(:last-child) {
  border-radius: 20px;
  padding: 10px 40px;
  height: 46px;
  border: none;
  background: linear-gradient(180deg, #28a745 0%, #3ef969 100%);
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #070707;
}

.betchagame-auth__buttons .betchagame-default__button:last-child {
  border: 1px solid var(--button-color);
  border-radius: 20px;
  padding: 10px 40px;
  height: 46px;
  background: inherit;
  color: #fff;
  font-weight: 500;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

header {
  width: 100%;
  display: flex;
  background: linear-gradient(180deg, #1e1e2f 0%, #0a2528 100%);
  color: #fff;
  justify-content: center;
  padding: 11.12px 0 11.13px 0;
}

.betchagame-auth__buttons {
  display: flex;
  gap: 8px;
}

.betchagame-auth__buttons .betchagame-default__button:not(:last-child) {
  border-radius: 20px;
  padding: 10px 40px;
  height: 46px;
  border: none;
  background: linear-gradient(180deg, #28a745 0%, #3ef969 100%);
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #070707;
}

.betchagame-auth__buttons .betchagame-default__button:last-child {
  border: 1px solid var(--button-color);
  border-radius: 20px;
  padding: 10px 40px;
  height: 46px;
  background: inherit;
  color: #fff;
  font-weight: 500;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

header {
  width: 100%;
  display: flex;
  background: linear-gradient(180deg, #1e1e2f 0%, #0a2528 100%);
  color: #fff;
  justify-content: center;
  padding: 11.12px 0 11.13px 0;
}

.betchagame-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1220px) {
  .betchagame-header-content {
    padding: 0 24px;
  }
}

.betchagame-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  text-align: center;
  color: #fff;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 991px) {
  .betchagame-nav__list {
    display: none;
  }

  .betchagame-auth__buttons {
    flex-direction: column;
    margin-top: 150px;
  }
}
.burger-menu {
  display: none;

  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
}

.burger-line {
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.burger-menu.active .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger-menu.active .burger-line:nth-child(2) {
  opacity: 0;
}
.burger-menu.active .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}
@media (max-width: 991px) {
  .burger-menu {
    display: flex;
  }
}

/* Общий стиль nav */
@media (max-width: 991px) {
  .betchagame-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #020012;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 999;
    display: flex;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  }

  .betchagame-nav.active {
    right: 0;
  }

  .betchagame-nav__list {
    flex-direction: column;
    display: flex !important;
    gap: 32px;
    padding: 0;
  }

  .betchagame-nav__list a {
    color: #fff;
    font-size: 18px;
  }
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e2f;
  padding: 40px 0;
}

.betchagame-footer_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 991px) {
  .betchagame-footer_content {
    padding: 0 16px;
  }
}

.betchagame-footer-lines {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.betchagame-footer-lines:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

@media (max-width: 991px) {
  .betchagame-footer-lines {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}

.betchagame-footer-lines .betchagame-footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.betchagame-footer-text-logo {
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 365px;
  height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
}

.betchagame-footer-lines
  .betchagame-footer-logo
  .betchagame-footer-text-logo
  p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 991px) {
  .betchagame-footer-lines .betchagame-nav__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.betchagame-footer-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.betchagame-footer-cookie-text-title {
  max-width: 610px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.betchagame-footer-cookie-text-description {
  width: 100%;
  max-width: 610px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

.betchagame-footer_imgs {
  width: 100%;
  max-width: 610px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

@media (max-width: 991px) {
  .betchagame-footer-cookie-text-title,
  .betchagame-footer-cookie-text-description {
    text-align: center;
    align-self: center;
  }
}

.betchagame-hero {
  background-image: url("/betchagame-images/decorativeContent/betchagame-hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 138px;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.betchagame-hero__content .betchagame-default__button {
  border-radius: 20px;
  padding: 10px 60px;
  height: 58px;
  background: linear-gradient(180deg, var(--button-color) 0%, #3ef969 100%);

  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #070707;
  border: none;
}

.betchagame-hero__content {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.betchagame-hero__content h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

@media (max-width: 991px) {
  .betchagame-hero__content h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}

/* ===============================================================> */
/* стили для конкретной страницы */
.betchagame-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  background: #061617;
}

.betchagame-about_content {
  width: 100%;
  max-width: 820px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
}

h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0;
}

@media (max-width: 991px) {
  h2 {
    font-size: 28px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
}

.betchagame-about_content p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #a3ffea;
  margin: 0;
}

.betchagame-join_game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.betchagame-join_game_content {
  display: flex;
  flex-wrap: wrap-reverse;

  gap: 20px;
  flex-direction: row;
}

.betchagame-join_game_content img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  max-width: 715px;
  max-height: 400px;
}

.betchagame-join_banner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 505px;
  text-align: start;
  gap: 30px;
}

.betchagame-join_banner_content div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.betchagame-join_banner_content .betchagame-join_banner_list {
  display: flex;
  flex-direction: column;
  color: #a3ffea;
  gap: 10px;
  margin-left: 20px;
}

.betchagame-join_banner_content .betchagame-join_banner_list {
  list-style-type: disc;
  list-style: disc;
}

@media (max-width: 1240px) {
  .betchagame-join_banner_content {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .betchagame-join_banner_content {
    padding: 0 20px;
  }
  .betchagame-join_banner_btn {
    width: 100%;
  }
}

.betchagame-join_banner_content h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
}

.betchagame-join_banner_content .betchagame-join_banner_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #a3ffea;
}

.betchagame-join_banner_btn {
  border-radius: 20px;
  border: none;
  padding: 10px 60px;
  width: 193px;
  height: 58px;
  background: linear-gradient(180deg, #28a745 0%, #3ef969 100%);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #070707;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .betchagame-join_banner_btn {
    width: 100%;
  }
}
/* ===============================================================> */
/* универсальные стили */

.betchagame-word-wrapper {
  word-wrap: break-word;
}

/* --- Попап регистрации --- */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup-overlay.show {
  display: flex;
}

.popup-content {
  background: #1e1e2f;
  padding: 40px;
  border-radius: 12px;
  width: 405px;
  max-width: 400px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.register-tabs span {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  border-bottom: 2px solid #28a745;
  padding: 10px 0px;
  width: 157px;
}

.popup-content form {
  display: flex;
  width: 325px;
  flex-direction: column;
  gap: 10px;
}

.popup-content form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-content form label {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
}

.popup-content form input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 10px 20px;
  background: #fff;
}

.popup-content form button {
  border-radius: 20px;
  padding: 10px 60px;
  width: 325px;
  height: 58px;
  background: linear-gradient(180deg, #28a745 0%, #3ef969 100%);
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 211%;
  text-transform: uppercase;
  text-align: center;
  color: #070707;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
