:root {
  --font-family: "Rubik", sans-serif;
  --second-family: "Inter", sans-serif;
  --button-color: #28a745;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  width: auto;
  height: auto;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}
p {
  margin: 0;
  width: auto;
  height: auto;
}
ul {
  padding: 0;
  margin: 0;
  width: auto;
  display: block;
  box-sizing: border-box;
  overflow: hidden;
}
button {
  cursor: pointer;
}

body {
  display: block;
  margin: 0;
  padding: 0;
  background: #070707;
  color: #fff;
  width: auto;
}
html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1240px;
  width: 100%;
}

.betchagame-auth__buttons {
  display: flex;
  gap: 8px;
}

.betchagame-auth__buttons .betchagame-default__button:last-child,
.betchagame-auth__buttons-desktop .betchagame-default__button:not(:last-child) {
  border-radius: 20px;
  padding: 10px 40px;
  height: 46px;
  border: none;
  background: linear-gradient(180deg, #28a745 0%, #3ef969 100%);
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #070707;
}

.betchagame-auth__buttons .betchagame-default__button:last-child,
.betchagame-auth__buttons-desktop .betchagame-default__button:last-child {
  border: 1px solid var(--button-color);
  border-radius: 20px;
  padding: 10px 40px;
  height: 46px;
  background: inherit;
  color: #fff;
  font-weight: 500;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

header {
  width: 100%;
  display: flex;
  background: linear-gradient(180deg, #1e1e2f 0%, #0a2528 100%);
  color: #fff;
  justify-content: center;
  padding: 11.12px 0 11.13px 0;
}

.betchagame-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1220px) {
  .betchagame-header-content {
    padding: 0 24px;
  }
}

.betchagame-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  text-align: center;
  color: #fff;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 991px) {
  .betchagame-nav__list {
    display: none;
  }

  .betchagame-auth__buttons {
    flex-direction: column;
    margin-top: 150px;
  }
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e2f;
  padding: 40px 0;
}

.container {
  max-width: 1240px;
  width: 100%;
}

.betchagame-auth__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.betchagame-auth__buttons .betchagame-default__button:not(:last-child) {
  border-radius: 20px;
  padding: 10px 40px;
  height: 46px;
  border: none;
  background: linear-gradient(180deg, #28a745 0%, #3ef969 100%);
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #070707;
}

.betchagame-auth__buttons .betchagame-default__button:last-child {
  border: 1px solid var(--button-color);
  border-radius: 20px;
  padding: 10px 40px;
  height: 46px;
  background: inherit;
  color: #fff;
  font-weight: 500;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

header {
  width: 100%;
  display: flex;
  background: linear-gradient(180deg, #1e1e2f 0%, #0a2528 100%);
  color: #fff;
  justify-content: center;
  padding: 11.12px 0 11.13px 0;
}

.betchagame-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 1220px) {
  .betchagame-header-content {
    padding: 0 24px;
  }
}

.betchagame-nav__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 137%;
  text-align: center;
  color: #fff;
  list-style: none;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 991px) {
  .betchagame-nav__list {
    display: none;
  }

  .betchagame-auth__buttons-desktop {
    display: hidden;
  }
}
.burger-menu {
  display: none;

  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 25px;
}

.burger-line {
  background-color: #fff;
  height: 3px;
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.burger-menu.active .burger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.burger-menu.active .burger-line:nth-child(2) {
  opacity: 0;
}
.burger-menu.active .burger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -8px);
}
@media (max-width: 991px) {
  .burger-menu {
    display: flex;
  }
}

/* Общий стиль nav */
@media (max-width: 991px) {
  .betchagame-nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100vh;
    background-color: #020012;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    z-index: 999;
    display: flex;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
  }

  .betchagame-nav.active {
    right: 0;
  }

  .betchagame-nav__list {
    flex-direction: column;
    display: flex !important;
    gap: 32px;
    padding: 0;
  }

  .betchagame-nav__list a {
    color: #fff;
    font-size: 18px;
  }
}

.betchagame-nav .betchagame-auth__buttons {
  display: none;
}

.betchagame-auth__buttons-desktop {
  display: flex;
  gap: 16px;
}

@media (max-width: 991px) {
  .betchagame-auth__buttons-desktop {
    display: none;
  }
}

@media (max-width: 991px) {
  .betchagame-nav .betchagame-auth__buttons {
    display: flex;
  }
}

.betchagame-hero {
  background-image: url("/betchagame-images/decorativeContent/betchagame-hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 790px;
  background-color: rgba(0, 0, 0, 0.4);
  background-blend-mode: darken;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.betchagame-hero__content .betchagame-default__button {
  border-radius: 20px;
  padding: 10px 60px;
  height: 58px;
  background: linear-gradient(180deg, var(--button-color) 0%, #3ef969 100%);

  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  color: #070707;
  border: none;
}

.betchagame-hero__content {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.betchagame-hero__content h1 {
  font-family: "Rubik", sans-serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

@media (max-width: 991px) {
  .betchagame-hero__content h1 {
    font-weight: 600;
    font-size: 32px;
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }
}

.betchagame-how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  width: 100%;
  padding: 80px 0;
  position: relative;
  overflow: visible;
}

.betchagame-works__content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 80px 0;
  box-sizing: border-box;
}

.betchagame-works__header {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 60px;
}

.betchagame-works_cards .betchagame-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.betchagame-works_cards ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.betchagame-works_cards ul li {
  width: 295px;
  height: 198px;
  display: flex;
}

.betchagame-work_card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.betchagame-work_card img {
  max-width: 60px;
  height: auto;
  margin-bottom: 15px;
}

.betchagame-work_card_title {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  text-align: start;
  color: var(--button-color);
  margin: 12px 0 20px;
}

.work_card_description {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #a3ffea;
  text-align: start;
  width: 201px;
}

@media (max-width: 991px) {
  .betchagame-how-it-works {
    min-height: auto;
    padding: 40px 0;
  }

  .betchagame-works__content {
    padding: 40px 0;
    text-align: center;
    justify-content: center;
  }

  .betchagame-work_card {
    align-items: center;
    text-align: center;
  }

  .betchagame-works__header {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .betchagame-works_cards ul {
    flex-direction: column;
    align-items: center;
  }

  .betchagame-works_cards ul li {
    width: 100%;
    height: auto;
    min-height: 188px;
  }

  .work_card_description {
    max-width: 100%;
    text-align: center;
  }
}

.betchagame-games {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #061617;
}

.betchagame-games__content {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  gap: 40px;
}

.betchagame-games__header h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
}

.betchagame-games_cards ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 0;
  margin: 0;
}

@media (max-width: 991px) {
  .betchagame-games_cards ul {
    flex-direction: column;
    align-items: center;
  }
  .betchagame-games__header h3 {
    text-align: center;
  }
}

.betchagame-game_card {
  display: flex;
  flex-direction: column;
  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  width: 295px;
  gap: 12px;
  backdrop-filter: blur(30px);
  background: rgba(255, 255, 255, 0.1);
}

@media (max-width: 337px) {
  .betchagame-game_card {
    width: 328px;
    height: 401px;
  }

  .betchagame-game_card img {
    width: 328px;
    height: 300px;
  }
}

.betchagame-game_card img {
  border: none;
  border-radius: 10px;
  width: 295px;
  height: 300px;
}

@media (max-width: 337px) {
  .betchagame-game_card img {
    width: 328px;
    height: 300px;
  }
}

.betchagame-game_card .betchagame-game_card_title {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.betchagame-game_card_button {
  border-radius: 0 0 10px 10px;
  padding: 10px 60px;
  width: 100%;
  height: 58px;
  background: linear-gradient(180deg, var(--button-color) 0%, #3ef969 100%);
  border: none;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 211%;
  font-family: var(--font-family);
  text-transform: uppercase;
  text-align: center;
  color: #070707;
  transition: all 0.6s ease;
}
.betchagame-game_card_button:hover {
  border: 1px solid #28a745;
  color: #fff;
  background: #061617;
}
.betchagame-leadership {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.betchagame-leadership__content {
  display: flex;
  flex-direction: column;
  padding: 80px 0;
  gap: 40px;
}

.betchagame-leadership__header {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
}
.betchagame-leadership__table ul li:not(:first-child) {
  margin-top: 24px;
}

.betchagame-leadership__table ul li {
  display: flex;
  border: 1px solid #fff;
  border-radius: 22px;
  padding: 10px 16px;
  min-height: 70px;
  background: linear-gradient(180deg, #1e1e2f 0%, #0a2528 100%);
  margin: 0 auto;
}

@media (max-width: 337px) {
  .betchagame-leadership__table ul li {
    width: 328px;
  }
}

.betchagame-leadership_line {
  display: flex;
  width: 100%;
}

.betchagame-leadership_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

@media (max-width: 1220px) {
  .betchagame-leadership_card {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}

.betchagame-leadership_card_left {
  display: flex;
  align-items: center;
  gap: 10px;
  width: auto;
}

.betchagame-leadership_card_left .betchagame-leader_name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 117%;
  color: #fff;
}

.betchagame-leadership_card_right {
  display: flex;
  gap: 24px;
  flex-direction: row;
  text-align: right;
}

@media (max-width: 991px) {
  .betchagame-leadership_card_left {
    align-self: start;
  }
  .betchagame-leadership_card_right {
    flex-direction: column;
    align-items: center;
  }
}

.betchagame-leadership_card_right .betchagame-leader_progress {
  border-radius: 20px;
  width: 749px;
  height: 20px;
  background: linear-gradient(90deg, #0509f8 0%, #a3ffea 100%);
}

@media (max-width: 1220px) {
  .betchagame-leadership__header {
    text-align: center;
  }
  .betchagame-leadership__table {
    padding: 0 20px;
  }
  .betchagame-leadership_card_right .betchagame-leader_progress {
    width: 296px;
    height: 20px;
  }
}

@media (max-width: 991px) {
  .betchagame-leadership_card_right .betchagame-leader_progress {
    width: 296px;
    height: 20px;
  }
}

.betchagame-leadership_card_right .betchagame-leader_points {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 117%;
  color: #e9e9e9;
}

.betchagame-reviews {
  background: #061617;
}

.betchagame-reviews_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  gap: 41px;
}
@media (max-width: 1220px) {
  .betchagame-reviews_content {
    padding: 40px 16px;
  }
}

.betchagame-reviews_header {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.betchagame-toggle-reviews-btn {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  border: none;
  background: var(--button-color);
}

@media (max-width: 459px) {
  .betchagame-toggle-reviews-btn {
    display: none;
  }
}

.betchagame-reviews_list {
  width: 100%;
  margin: 0 auto;
  overflow-x: auto;
}

.betchagame-reviews_list ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
}

@media (max-width: 459px) {
  .betchagame-reviews_list ul {
    flex-direction: column;
    align-items: center;
  }
}

.betchagame-reviews_list ul .betchagame-review_item {
  width: 400px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 10px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  display: inline-block;
}

@media (max-width: 459px) {
  .betchagame-reviews_list ul .betchagame-review_item {
    max-width: 328px;
  }
}

@media (min-width: 1440px) {
  .betchagame-reviews_list {
    margin-left: 335px;
  }
}

.betchagame-review_card_bttm {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.betchagame-name_review {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #28a745;
}

.review_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #101010;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
}

.betchagame-stars-review {
  display: flex;
  flex-direction: row !important;
  gap: 4.75px;
}

.betchagame-join_game {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
}

.betchagame-join_game_content {
  display: flex;
  flex-wrap: wrap;

  gap: 20px;
  flex-direction: row;
}

.betchagame-join_game_content img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  max-width: 715px;
  max-height: 400px;
}

.betchagame-join_banner_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 505px;
  text-align: start;
  gap: 30px;
}

@media (max-width: 991px) {
  .betchagame-join_banner_content {
    padding: 0 20px;
  }
  .betchagame-join_banner_btn {
    width: 100%;
  }
}

.betchagame-join_banner_content h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
}

.betchagame-join_banner_content .betchagame-join_banner_text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #a3ffea;
}

.betchagame-join_banner_btn {
  border-radius: 20px;
  border: none;
  padding: 10px 60px;
  width: 193px;
  height: 58px;
  background: linear-gradient(180deg, #28a745 0%, #3ef969 100%);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  color: #070707;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .betchagame-join_banner_btn {
    width: 100%;
  }
}

.betchagame-footer_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 991px) {
  .betchagame-footer_content {
    padding: 0 16px;
  }
}

.betchagame-footer-lines:not(:last-child) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.betchagame-footer-lines:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

@media (max-width: 991px) {
  .betchagame-footer-lines {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}

.betchagame-footer-lines .betchagame-footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.betchagame-footer-text-logo {
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 365px;
  height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
}

.betchagame-footer-lines
  .betchagame-footer-logo
  .betchagame-footer-text-logo
  p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 991px) {
  .betchagame-footer-lines .betchagame-nav__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.betchagame-footer-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.betchagame-footer-cookie-text-title {
  max-width: 610px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.betchagame-footer-cookie-text-description {
  max-width: 610px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 991px) {
  .betchagame-footer-cookie-text-title,
  .betchagame-footer-cookie-text-description {
    text-align: center;
    align-self: center;
  }
}

/* универсальные стили */

.betchagame-word-wrapper {
  word-wrap: break-word;
}
/* ===============================================================> */

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e2f;
  padding: 40px 0;
}

.betchagame-footer_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 991px) {
  .betchagame-footer_content {
    padding: 0 16px;
  }
}

.betchagame-footer-lines {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.betchagame-footer-lines:last-child {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
}

@media (max-width: 991px) {
  .betchagame-footer-lines {
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
}

.betchagame-footer-lines .betchagame-footer-logo {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.betchagame-footer-text-logo {
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  padding: 10px;
  width: 365px;
  height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
}

.betchagame-footer-lines
  .betchagame-footer-logo
  .betchagame-footer-text-logo
  p {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 991px) {
  .betchagame-footer-lines .betchagame-nav__list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.betchagame-footer-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.betchagame-footer-cookie-text-title {
  max-width: 610px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.betchagame-footer-cookie-text-description {
  width: 100%;
  max-width: 610px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.8);
}

.betchagame-footer_imgs {
  width: 100%;
  max-width: 610px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

@media (max-width: 991px) {
  .betchagame-footer-cookie-text-title,
  .betchagame-footer-cookie-text-description {
    text-align: center;
    align-self: center;
  }
}

/* --- Попап регистрации --- */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.popup-overlay.show {
  display: flex;
}

.popup-content {
  background: #1e1e2f;
  padding: 40px;
  border-radius: 12px;
  width: 405px;
  max-width: 400px;
  position: relative;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.register-tabs span {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  padding: 10px 0px;
  width: 157px;
  cursor: pointer;
  user-select: none;
  transition: border-bottom 0.3s ease;
}

.register-tab.active-tab {
  border-bottom: 2px solid #28a745;
}

.popup-content form {
  display: flex;
  width: 325px;
  flex-direction: column;
  gap: 10px;
}

.popup-content form div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-content form label {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
}

.popup-content form input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  padding: 10px 20px;
  background: #fff;
}

.popup-content form button {
  border-radius: 20px;
  padding: 10px 60px;
  width: 325px;
  height: 58px;
  background: linear-gradient(180deg, #28a745 0%, #3ef969 100%);
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 211%;
  text-transform: uppercase;
  text-align: center;
  color: #070707;
  border: none;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 14px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
